<!-- <h1>StaticPages#projects</h1>
<p>Find me in app/views/static_pages/projects.html.erb</p> -->

<div class="clearfix" id="projects">
	<div class="wrapper">
		<h4 id="title">Projects</h4>
		<hr>
		<div class="col-md-10 col-md-offset-1 col-sm-12" id="project-1">
			<img src="" alt="">
		</div>
	</div>
</div>