<!-- <h1>StaticPages#projects</h1>
<p>Find me in app/views/static_pages/projects.html.erb</p> -->

<div class="clearfix" id="projects">
	<div class="wrapper">
		<h4 id="title">Projects</h4>
		<hr>
	</div>
</div>