
<!-- 
MAIN PAGE
========================= -->

<div class="wrapper">
	<div class="clearfix container">
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 welcome text-center">
			<h2 class="margin">Welcome</h2>
			<hr class="text-center">
			<h4>With over 20 years experience, Sung Kim Construction has been completing construction jobs in the Silicon Valley and the entire Bay Area region.</h4>

			<p id="intro">Sung Kim Construction has been completing construction jobs in the Silicon Valley and Bay Area region for over 20 years. We are a Sunnyvale Construction Company that is fully bonded &amp; licensed and we’re proud to say that we’re locally owned &amp; operated. As a General Contractor we offer a full range of Custom Construction Services that include Design Build, Hotel Remodeling, Restaurant Remodeling, Tenant Improvements and Home Remodeling. Our company believes in developing a long lasting relationship with our clients by gaining their trust through exceeding their expectations by delivering high quality work at an affordable price. Sung Kim Construction offers its clients Peace of Mind by providing creative quality designs, plans and permits, and material selections all under one roof.</p>

			<div class="grid">
				<div class="col-md-4 col-sm-12 highlights">
					<img src="http://i.imgur.com/ZPcmOfP.png" alt="" class="icon">
					<h3>We Are Craftsmen</h3>
					<!-- <p>blah blah blah</p> -->
				</div>
				<div class="col-md-4 col-sm-12 highlights">
				<img src="http://i.imgur.com/vXwmht4.png" alt="" class="icon">
					<h3>Honest &amp; Reliable</h3>
					<!-- <p>blah blah blah</p> -->
				</div>
				<div class="col-md-4 col-sm-12 highlights">
				<img src="http://i.imgur.com/JNUVpPe.png" alt="" class="icon">
					<h3>Licensed &amp; Insured</h3>
					<!-- <p>blah blah blah</p> -->
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
PROJECTS
========================= -->




<!-- 
ABOUT + MAIN SERVICES
========================= -->

<div class="wrapper" id="main_services">
	<div class="clearfix container">
			<div class="col-sm-8 col-xs-12 about">
				<h4 class="white">About Us</h4>
				<hr>
				<p>We begin the construction process by clearly defining our clients’ needs. Once the parameters have been established, Sung Kim Construction implements its value management process that streamlines the construction process and recommends cost-savings ideas for quality improvements.</p>
				<p>We work closely with our customers through the Design Build Process to ensure a high level of success &amp; satisfaction with the final outcome. We take pride in our attention to detail, high level of customer service and our hands on approach while making it our mission to deliver every project on time and within your budget.</p>
			</div>
			<div class="col-sm-3 col-xs-12 services">
				<h4 class="white">Services</h4>
				<hr>
				<ul >
					<li class="white">- Project Mangement</li>
					<li class="white">- Design Build Services</li>
					<li class="white">- Custom Construction</li>
					<li class="white">- Restaurant Remodeling</li>
					<li class="white">- Tenant Improvements</li>
					<li class="white">- Medical Office Remodeling </li>
					<li class="white">- Home Remodeling</li>
					<li class="white">- and more..</li>
				</ul>
			</div> 
	</div>
</div>


<!-- 
CONTACT FORM
========================= -->

<div class="wrapper" id="contact">

     <div class="section-head clearfix container">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

              <p class="lead">If you have any inquiries, would like to set up an appointment for an estimation, or have any questions about our services, please contact us using the form below or by <strong><a href="mailto:sjsungkim@gmail.com" class="email">email</a></strong>.
              </p>

        </div>
     </div>

     <div class="clearfix container">

        <div class="col-xs-10 col-xs-offset-1">

           <!-- form -->
           <form action="sendEmail.php" method="post" id="contactForm" name="contactForm">

              <div>
					   <label for="contactName">Name <span class="required">*</span></label>
					   <input type="text" value="" size="35" id="contactName" name="contactName">
              </div>

              <div>
					   <label for="contactEmail">Email <span class="required">*</span></label>
					   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
              </div>

                <div>
					   <label for="contactPhone">Phone <span class="required">*</span></label>
					   <input type="text" value="" size="35" id="contactPhone" name="contactPhone">
              </div>

              <div>
					   <label for="contactSubject">Subject</label>
					   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
              </div>

              <div>
                 <label for="contactMessage">Message <span class="required">*</span></label>
                 <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
              </div>

              <div>
                 <button class="submit">Submit</button>
                 <span id="image-loader">
                    <img alt="" src="images/loader.gif">
                 </span>
              </div>

			   </form> <!-- Form End -->

           <!-- contact-warning -->
           <div id="message-warning"> Error. Your message was unable to be sent.</div>
           <!-- contact-success -->
			   <div id="message-success">
              <i class="fa fa-check"></i>Your message was sent, thank you!<br>
			   </div>

        </div>

  </div>

</div> <!-- Contact Section End-->

	
	
	















