<div class="wrapper clearfix">
	<div class="welcome">
		<h2 id="welcome">Welcome</h2>
		<hr>
		<h4>With over 20 years experience, Sung Kim Construction has been completing <br> construction jobs in the Silicon Valley and the entire Bay Area region.</h4>

		<p id="intro">Sung Kim Construction has been completing construction jobs in the Silicon Valley and Bay Area region for over 20 years. We are a Sunnyvale Construction Company that is fully bonded &amp; licensed and we’re proud to say that we’re locally owned &amp; operated. As a General Contractor we offer a full range of Custom Construction Services that include Design Build, Hotel Remodeling, Restaurant Remodeling, Tenant Improvements and Home Remodeling. Our company believes in developing a long lasting relationship with our clients by gaining their trust through exceeding their expectations by delivering high quality work at an affordable price. Sung Kim Construction offers its clients Peace of Mind by providing creative quality designs, plans and permits, and material selections all under one roof.</p>

		<div class="grid">
			<div class="col">
				<img src="http://i.imgur.com/ZPcmOfP.png" alt="" class="icon">
				<h3>We Are Craftsmen</h3>
				<!-- <p>blah blah blah</p> -->
			</div>
			<div class="col">
			<img src="http://i.imgur.com/vXwmht4.png" alt="" class="icon">
				<h3>Honest &amp; Reliable</h3>
				<!-- <p>blah blah blah</p> -->
			</div>
			<div class="col">
			<img src="http://i.imgur.com/JNUVpPe.png" alt="" class="icon">
				<h3>Licensed &amp; Insured</h3>
				<!-- <p>blah blah blah</p> -->
			</div>
		</div>
	</div>
</div>

<div class="clearfix" id="main_services">
	<div class="wrapper">
		<div class="grid">
			<div class="col-1">
				<h4>About Us</h4>
				<hr>
				<p>We begin the construction process by clearly defining our clients’ needs. Once the parameters have been established, Sung Kim Construction implements its value management process that streamlines the construction process and recommends cost-savings ideas for quality improvements.</p>
				<p>We work closely with our customers through the Design Build Process to ensure a high level of success &amp; satisfaction with the final outcome. We take pride in our attention to detail, high level of customer service and our hands on approach while making it our mission to deliver every project on time and within your budget.</p>
			</div>
			<div class="col-2">
				
			</div>
			<div class="col-3">
				<h4>Services</h4>
				<hr>
				<ul>
					<li>- Project Mangement</li>
					<li>- Design Build Services</li>
					<li>- Custom Construction</li>
					<li>- Restaurant Remodeling</li>
					<li>- Tenant Improvements</li>
					<li>- Medical Office Remodeling </li>
					<li>- Home Remodeling</li>
					<li>- and more..</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>


<div class="clearfix" id="testimonials">
	<div class="wrapper">
		<div class="grid">
				<h4>Testimonials</h4>
				<hr>
		</div>
	</div>
</div>

	
	
	















