// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;

@import 'normalize';
@import 'carousel';

$dark: #708199;
$light: #b8c6d0;
$highlight: #138ad3;
$border: #E9E9E9;

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li {
	color: $highlight;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.75rem;
}

h6 {
	font-size: 1rem;
}

p, li {
	// font-size: 1.1rem;
	line-height: 1.75;
	color: $dark;
}

p, ul, ol {
	margin: 0 0 1.6em 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both;
}

#main_navigation {
	height: 10vh;
	padding: 1.5em 5%;
	border-bottom: 1px solid $border;
	background-color: $highlight;

	.name {
		font-weight: 700;
		font-size: .8em;
		letter-spacing: 4px;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.75em 1rem;
		color: $light;
		border: 1px solid $light;
		float:left;
		margin-top: .3rem;
	}
	nav {
		float: right;
		padding-bottom: .6rem; 
		a {
			color: $light;
			text-decoration: none;
			margin: 1rem;
			// font-size: 1rem;
		}
	}
}

.grid{
  display: table;
  width: 100%;
  border-spacing:.5em;
  margin-bottom: 50px;
  .col{
    padding:1em;
    width:25%;
    display:table-cell;
    // border:#f0f0f0 1px solid;
  }
  .col-1 {
  	width: 50%;
  	display: table-cell;
  	padding: 1em;
  }
  .col-2 {
  	width: 20%;
  	display: table-cell;
  	padding: 1em;
  }
  .col-3 {
  	width: 30%;
  	display: table-cell;
  	padding: 1em;
  	ul {
  		padding-left: 0px;
  	}
  	li {
  		color: white;
  		list-style-type: none;
  	}
  }
  .icon {
  	height: 60px;
  }
  h4 {
  	color: white;
  	margin-top: 60px;
  }
  hr {
	width: 5em;
	margin-left: 0 !important;
	padding-bottom: 30px;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid white;
  }
}

.welcome {
	text-align: center;
	height: 87vh;
	hr {
		width: 5em;
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid $highlight;
	}
	h2 {
		padding-top: 60px;
	}
	#intro, h4 {
		padding-top: 30px;
	}
}

#welcome {
	text-align: center;
	
}


#main_services {
	background-color: $dark;
	height: 100vh;
	p {
		color: white;
	}
}


#testimonials {
	h4 {
		color: $highlight;
		margin-top: 60px;
	}
	hr {
	width: 5em;
	margin-left: 0 !important;
	padding-bottom: 30px;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
  }
}

#contact {
	background-color: $light;
	h3 {
		text-align: center;
		color: white;
		margin-top: none;
	}
	h4 {
		color: white;
		margin-top: 60px;
	}
	h5 {
		color: white;
		margin-top: 0px;
	}
	hr {
		width: 5em;
		margin-left: 0 !important;
		padding-bottom: 30px;
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid white;
  }
}

#contact_info {
	display: table;
	width: 100%;
	border-spacing:.5em;
	margin-bottom: 50px;
	.column-1{
	  padding:1em;
	  width: 50%;
	  text-align: right;
	  display:table-cell;
	}
	.column-2 {
		padding:1em;
		width: 50%;
		text-align: left;
		display:table-cell;
	}

}






