<!DOCTYPE html>
<html>
<head>
  <title>Sung M. Kim Construction, Inc.</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- 
HEADER
========================= -->

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- collapse menu button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- brand logo -->
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/assets/Logo1.png" id="logo">
      </a>
    </div>
    <!-- actual nav links -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#main_services">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


<%= yield %>


<!-- 
FOOTER
========================= -->

<footer>
   <div class="row">

      <div class="twelve columns">
         <ul class="social-links">
            <li><a href="https://www.linkedin.com/in/oliviajkim"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/oliviaj.kim/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://www.behance.net/oliviajkim"><i class="fa fa-behance"></i></a></li>
            <li><a href="https://github.com/oliviajkim"><i class="fa fa-github"></i></a></li>
         </ul>

         <ul class="copyright">
            <li>&copy; Copyright 2016</li>   
         </ul>
      </div>

   </div>
</footer> <!-- Footer End-->

</body>
</html>
